---
embedding_model: "text-embedding-3-large"
eval_model: "gpt-4o-mini"
vector_store: "faiss"
loader_name: "UnstructuredLoader"
loader_params:
  pdf:
    strategy: "hi_res"
    chunking_strategy: "by_title"
    infer_table_structure: true
    max_characters: 500
    overlap: 0
  web:
retriever_params:
  k: 10
sparse_retriever_name: 'BM25'
sparse_retriever_params:
  k: 8
reranker_name: "CohereRerank"
reranker_params:
  model: "rerank-v3.5"
  top_n: 4
