---
vector_stores:
  faiss:
    type: "faiss"
    embedding_model: "text-embedding-3-large"
    embedding_dimension: 3072
    kwargs:
      allow_dangerous_deserialization: true
    retrieval_kwargs:
      k: 50
  opensearch:
    type: "opensearch"
    embedding_model: "text-embedding-3-large"
    embedding_dimension: 3072
    kwargs:
      index_name: "rag-index"
      vector_field: "vector_field"
      text_field: "text_field"
      engine: "faiss"
      space_type: "l2"
      m: 48
      ef_construction: 256
    retrieval_kwargs:
      ef_search: 256

llms:
  gpt_4o_mini:
    model_name: "gpt-4o-mini"
    model_provider: "openai"

nodes:
  analyze_query:
    llm: "gpt_4o_mini"
    params:
      temperature: 0.2
    prompt: "query_analysis_v1.txt"
  retrieve:
    dense:
      vector_store: "faiss"
      params:
        k: 10
    sparse:
      type: "bm25"
      params:
        k: 4
    ensemble:
      weights: [0.6, 0.4]
    reranker:
      type: "cohere"
      params:
        model: "rerank-v3.5"
        top_n: 4
  generate:
    llm: "gpt_4o_mini"
    params:
        temperature: 0.7
    prompt: "answer_generation_v1.txt"

ingestion:
  pipeline_version: "1.0.0"
  vector_store: "faiss"
  sources:
    pdf:
      loader:
        type: "unstructured"
        params:
          strategy: "hi_res"
          chunking_strategy: "by_title"
          infer_table_structure: true
          max_characters: 500
          overlap: 0
    web:
      loader:
        type: "unstructured"
        params:
          strategy: "hi_res"
          infer_table_structure: true
          max_characters: 500
          overlap: 0
    sql:
      loader:
        type: "none"
        params: {}

evaluation:
  llm: "gpt_4o_mini"
