---
#  ingestion - assumes UnstructuredLoader
chunk_size: 1000
chunk_overlap: 100
embedding_model: "text-embedding-3-large"
vector_store: "faiss"
#  using UnstructuredLoader
loader_name: "UnstructuredLoader"
loader_params:
  pdf:
    strategy: "hi_res"
    chunking_strategy: "by_title"
    infer_table_structure: true
    max_characters: 500
    overlap: 0
  web:
retriever_params:
  k: 10
reranker_name: "CohereRerank"
reranker_params:
  model: "rerank-v3.5"
  top_n: 4
