# core Langchain ecosystem
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langgraph

# supporting libs
uvicorn[standard]
fastapi
faiss-cpu
python-dotenv

# downloading data and artifacts
huggingface-hub

# monitoring
langsmith
