name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  checks:
    name: Lint & tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          pip install -e .

      - name: Run black
        run: black --check .

      - name: Run ruff
        run: ruff check .

      - name: Run pytest
        run: pytest -q

  build:
    name: Build backend Docker image
    runs-on: ubuntu-latest

    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      LANGSMITH_API_KEY: ${{ secrets.LANGSMITH_API_KEY}}
      LANGSMITH_TRACING: ${{ vars.LANGSMITH_TRACING}}
      LANGSMITH_PROJECT: ${{ vars.LANGSMITH_PROJECT}}
      LANGSMITH_ENDPOINT: ${{ vars.LANGSMITH_ENDPOINT}}

    steps:
      - name: Checkout
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t rag-backend .
